*{
    margin:0;
    padding:0;
    outline:none;
    border:none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background:linear-gradient(130deg, #c7114d , #4c0575);
    color:#fff;
}

.container{
    display: flex;
    align-items: center;
    margin-top:30px;
    flex-direction: column;
    width:40%;
    height: 100%;
}

.container .label{
    margin-bottom:30px;
}

.container .whose-turn{
    margin-bottom:70px;
    padding:5px 10px;
    border: 5px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source:linear-gradient(130deg, #0bb19b , #52087c);
}

.container .whose-turn .player-turn{
    font-size:18px;
}

.container .score-board{
    width:80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:40px;
    margin-right:20px;
}

.container .score-board .score{
    padding:5px 15px;
    border: 5px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source:linear-gradient(130deg, #0bb19b , #52087c);
    font-size:18px;
}

.container .game-board{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .game-board .field-row{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .game-board .field-row .game-field{
    width:18%;
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 40px 50px 0;

    color:red;
    background-color:#fff;
    font-size:80px;
    
    box-shadow: 15px 15px 20px rgba(0,0,0,0.8);
}

.container .reset-btn{
    color:#fff;
    background-color:#830e0e;
    padding:13px 30px;
    border-radius: 16px;
    cursor: pointer;
}

.disable{
    pointer-events: none;
    opacity: 0.6;
}